@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');


body {
    overflow-x: hidden;
    margin: 0px;
    height: 100%;
    width: 100%;
}

html {
    width: 100%;
}

.container {
    min-width: 1337px;
}

div#home-page {
    height: 100%;
    width: fit-content;
}

#hero-page {
    margin: 0;
    background-color: #0C1524;
}

nav#main-nav {
    min-height: 5px;
    justify-content: center !important;
    align-content: center;
    padding: 2%;
    display: flex;
}

ul#navbar-list {
    align-content: center;
    display: inline-block;
    position: relative;
    list-style: none;
}

ul#navbar-list li {
    font-family: Source-sans-pro;
    display: inline;
    padding: 15px;
    color: #ffff;

}

.main-content {
    display: flex;
}

.main-content .header-text {
    position: absolute;
    flex: 1;
}



h1.main-header {
    padding-left: 150px;
    font-style: italic;
    line-height: 0;
    color: #ffff;
    font-size: 9rem;
}

h4.mid-header {
    padding-top: 100px;
    padding-left: 150px;
    font-weight: 200;
    color: white;
    font-size: 3rem;
}


#clouds {
    object-fit: cover;
    min-height: 100vh;
    width: 100%;
    background-image: url('../assets/clouds.png');
    animation: animate 120s linear infinite;
}



@keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.scroll-content {
    background-color: white;
    background-repeat: no-repeat;
    height: 37rem;
}

.scroll-content .scroll-text-card {
    float: left;
    background-color: black;
    margin: 0;
    left: 0;
    width: 45%;
    height: 37rem;
}

.scroll-content .scroll-text {
    color: white;
    padding: 50px 50px;
    margin-top: 40px;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.scroll-content .scroll-text-minor {
    font-size: 3rem;
    font-family: sans;
    color: white;
}
 .module-card-left {
     float:left;
     margin-top:50px;
    min-height: 2rem;
    height: 5rem;
    background-color:#f5be3f;
    width: 30rem;
}
 .module-card-right{
    margin-top:55px;
    float:right;
    right:0;
    min-height: 2rem;
    height: 5rem;
    background-color:#2fb9f0;
    width: 30rem;
        
}
.module-card-left-2 {
    float:left;
    margin-top:65px;
   min-height: 2rem;
   height: 5rem;
   background-color:#cf412e;
   width: 30rem;
}
.module-card-right-2{
   margin-top: 70px;
   float:right;
   right:0;
   min-height: 2rem;
   height: 5rem;
   background-color:#19bb6a;
   width: 30rem;
}


.scroll-content .scroll-box {
    height: 37rem;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.7);
}

.card__name {
    margin-top: 15px;
    font-size: 1.5em;
}

.card-image img {
    width: 100%;
    height: 100%;
}
