body {
    overflow-x: hidden;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #214356;
}
html{
    width: 100%;
}


div#home-page {
    height: 100%;
    width: fit-content;
}

nav#main-nav {
    min-height: 5px;
    justify-content: center !important;
    align-content: center;
    padding: 2%;
    display: flex;
}

ul#navbar-list {
    align-content: center;
    display: inline-block;
    position: relative;
    list-style: none;
}

ul#navbar-list li {
    font-family: Source-sans-pro;
    display: inline;
    padding: 15px;
    color: #ffff;

}

.main-content{
    display: flex;
}
.main-content .header-text{
position: absolute;
flex:1;
}



h1.main-header {
    padding-left: 150px;
    font-style: italic;
    line-height: 0;
    color: #ffff;
    font-size: 9rem;
}
h4.mid-header {
    padding-top: 100px;
    padding-left: 150px;
    font-weight: 200;
    color: white;
    font-size: 3rem;
}


#clouds {
    object-fit: cover;
    min-height: 100vh;
    width: 100%;
    background-image: url('../assets/clouds.png');
    animation: animate 120s linear infinite;
}



@keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}